@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url('../public/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Regular.woff') format('woff'),
    url('../public/fonts/Satoshi-Medium.woff') format('woff'),
    url('../public/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Regular.ttf') format('truetype'),
    url('../public/fonts/Satoshi-Light.woff') format('truetype');
  font-family: 'Satoshi';
  font-display: swap;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-sc {
  font-family: "Cormorant SC", serif;
  font-weight: 100;
  font-style: normal;
}

.special-elite {
  font-family: "Special Elite", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 1.0rem;

  @media (min-width: 1024px) {
    font-size: 1.3rem;
  }
}

p {
  div {
    @apply text-inherit;
  }
}
